<!doctype html>
<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="HandheldFriendly" content="true"/>
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="apple-touch-icon" sizes="57x57" href="https://addshop-static.s3.amazonaws.com/icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://addshop-static.s3.amazonaws.com/icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://addshop-static.s3.amazonaws.com/icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://addshop-static.s3.amazonaws.com/icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://addshop-static.s3.amazonaws.com/icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://addshop-static.s3.amazonaws.com/icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://addshop-static.s3.amazonaws.com/icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://addshop-static.s3.amazonaws.com/icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://addshop-static.s3.amazonaws.com/icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="https://addshop-static.s3.amazonaws.com/icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://addshop-static.s3.amazonaws.com/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://addshop-static.s3.amazonaws.com/icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://addshop-static.s3.amazonaws.com/icons/favicon-16x16.png">
<link rel="manifest" href="https://addshop-static.s3.amazonaws.com/icons/manifest.json">
<link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet" integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1" crossorigin="anonymous">
<script id="googleapijs" src="https://apis.google.com/js/api:client.js"></script>
<title>ADD Shop</title>
<html ng-app="elder" ng-controller="goro"><meta charset=utf-8><base href=/>

<link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/delta.addshop.app/vendor.css?1559450575209">
<link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/delta.addshop.app/main.css?1559450575209">


<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/10jquery.min.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/11jquery-color.min.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/20angular.min.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/30moment.min.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/40es.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/50angular-resource.min.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/60angular-route.min.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/61angular-sanitize.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/70angular-moment.min.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/80tether.min.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/90bootstrap.min.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/100bootstrap-extension.min.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/101bootstrap-notify.min.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/102angular-bootstrap-toggle.min.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/110sidebar-nav.min.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/120jquery.waypoints.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/130jquery.counterup.min.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/140raphael-min.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/150morris.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/151chart.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/152peity.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/160jquery.sparkline.min.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/170jquery.charts-sparkline.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/180jquery.toast.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/190tablesaw.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/200richAutocomplete.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/210waves.min.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/220socket.io.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/230lodash.min.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/240switchery.min.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/250dropzone.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/260Sortable.min.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/270popup.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/290selectize.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/291selectize-dropdown-plugin.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/300jquery.mCustomScrollbar.concat.min.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/302quagga.min.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/310cropper.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/320cleave.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/330hammer.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/340angular.hammer.min.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/350dragscroll.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/360bootstrap-lightbox.min.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/370masonry.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/js/380apexcharts.min.js"></script>
<script src="https://s3-us-west-1.amazonaws.com/delta.addshop.app/main.js?1559450575209"></script>

<body>
<div ng-include="'core/html/views/warnings.html'"></div>
<div ng-include="mainPath" ng-if="showMain"></div>
<div ng-include="loginPath" ng-if="showLogin"></div>
</body></html>